/* By Sussex University (Accessibility Level: AAA) - http://www.sussex.ac.uk/tel/resource/tel_website/accessiblecontrast/?q=FFFFFF~5d3754~1b365d~003b49~007a78~d6d2c4~f2c75c~dc582a~d3273e~be84a3~d0d3d4~000000 */
 
.pallete-violet-white .color1 {
      color: #5d3754;
} 

.pallete-violet-white .bg-color1 {
      background-color: #5d3754;
} 

.pallete-violet-white .color2 {
  color: #FFFFFF;
}

.pallete-violet-white .bg-color2 {
  background-color: #FFFFFF;
}

.pallete-violet-off-white .color1 {
      color: #5d3754;
} 

.pallete-violet-off-white .bg-color1 {
      background-color: #5d3754;
} 

.pallete-violet-off-white .color2 {
  color: #d6d2c4;
}

.pallete-violet-off-white .bg-color2 {
  background-color: #d6d2c4;
}

.pallete-violet-yellow .color1 {
      color: #5d3754;
} 

.pallete-violet-yellow .bg-color1 {
      background-color: #5d3754;
} 

.pallete-violet-yellow .color2 {
  color: #f2c75c;
}

.pallete-violet-yellow .bg-color2 {
  background-color: #f2c75c;
}

.pallete-violet-gray .color1 {
      color: #5d3754;
} 

.pallete-violet-gray .bg-color1 {
      background-color: #5d3754;
} 

.pallete-violet-gray .color2 {
  color: #5d3754;
}

.pallete-violet-gray .bg-color2 {
  background-color: #5d3754;
}

.pallete-blue-white .color1 {
      color: #1b365d;
} 

.pallete-blue-white .bg-color1 {
      background-color: #1b365d;
} 

.pallete-blue-white .color2 {
  color: #FFFFFF;
}

.pallete-blue-white .bg-color2 {
  background-color: #FFFFFF;
}

.pallete-blue-off-white .color1 {
      color: #1b365d;
} 

.pallete-blue-off-white .bg-color1 {
      background-color: #1b365d;
} 

.pallete-blue-off-white .color2 {
  color: #d6d2c4;
}

.pallete-blue-off-white .bg-color2 {
  background-color: #d6d2c4;
}

.pallete-blue-yellow .color1 {
      color: #1b365d;
} 

.pallete-blue-yellow .bg-color1 {
      background-color: #1b365d;
} 

.pallete-blue-yellow .color2 {
  color: #f2c75c;
}

.pallete-blue-yellow .bg-color2 {
  background-color: #f2c75c;
}

.pallete-blue-gray .color1 {
      color: #1b365d;
} 

.pallete-blue-gray .bg-color1 {
      background-color: #1b365d;
} 

.pallete-blue-gray .color2 {
  color: #d0d3d4;
}

.pallete-blue-gray .bg-color2 {
  background-color: #d0d3d4;
}

.pallete-red-white .color1 {
      color: #d3273e;
} 

.pallete-red-white .bg-color1 {
      background-color: #d3273e;
} 

.pallete-red-white .color2 {
  color: #FFFFFF;
}

.pallete-red-white .bg-color2 {
  background-color: #FFFFFF;
}

.pallete-green-white .color1 {
      color: #003b49;
} 

.pallete-green-white .bg-color1 {
      background-color: #003b49;
} 

.pallete-green-white .color2 {
  color: #FFFFFF;
}

.pallete-green-white .bg-color2 {
  background-color: #FFFFFF;
}

.pallete-green-off-white .color1 {
      color: #003b49;
} 

.pallete-green-off-white .bg-color1 {
      background-color: #003b49;
} 

.pallete-green-off-white .color2 {
  color: #d6d2c4;
}

.pallete-green-off-white .bg-color2 {
  background-color: #d6d2c4;
}

.pallete-green-yellow .color1 {
      color: #003b49;
} 

.pallete-green-yellow .bg-color1 {
      background-color: #003b49;
} 

.pallete-green-yellow .color2 {
  color: #f2c75c;
}

.pallete-green-yellow .bg-color2 {
  background-color: #f2c75c;
}

.pallete-green-gray .color1 {
      color: #003b49;
} 

.pallete-green-gray .bg-color1 {
      background-color: #003b49;
} 

.pallete-green-gray .color2 {
  color: #d0d3d4;
}

.pallete-green-gray .bg-color2 {
  background-color: #d0d3d4;
}


.pallete-black-white .color1 {
      color: #000000;
} 

.pallete-black-white .bg-color1 {
      background-color: #000000;
} 

.pallete-black-white .color2 {
  color: #FFFFFF;
}

.pallete-black-white .bg-color2 {
  background-color: #FFFFFF;
}

.pallete-black-off-white .color1 {
      color: #000000;
} 

.pallete-black-off-white .bg-color1 {
      background-color: #000000;
} 

.pallete-black-off-white .color2 {
  color: #d6d2c4;
}

.pallete-black-off-white .bg-color2 {
  background-color: #d6d2c4;
}

.pallete-black-yellow .color1 {
      color: #000000;
} 

.pallete-black-yellow .bg-color1 {
      background-color: #000000;
} 

.pallete-black-yellow .color2 {
  color: #f2c75c;
}

.pallete-black-yellow .bg-color2 {
  background-color: #f2c75c;
}

.pallete-black-gray .color1 {
      color: #000000;
} 

.pallete-black-gray .bg-color1 {
      background-color: #000000;
} 

.pallete-black-gray .color2 {
  color: #d0d3d4;
}

.pallete-black-gray .bg-color2 {
  background-color: #d0d3d4;
}

.pallete-black-orange .color1 {
      color: #000000;
} 

.pallete-black-orange .bg-color1 {
      background-color: #000000;
} 

.pallete-black-orange .color2 {
  color: #dc582a;
}

.pallete-black-orange .bg-color2 {
  background-color: #dc582a;
}

.pallete-black-pink .color1 {
      color: #000000;
} 

.pallete-black-pink .bg-color1 {
      background-color: #000000;
} 

.pallete-black-pink .color2 {
  color: #be84a3;
}

.pallete-black-pink .bg-color2 {
  background-color: #be84a3;
}